/* ipad */
@media(max-width:800px){
  .services{
    transform-origin: center;
    border-radius: 50%;
    width: 70px;
    aspect-ratio: 1 / 1;
  }
  .container>.mockup:nth-of-type(5) {
    animation: animprod 5.5s ease-in-out  infinite alternate;
     background: linear-gradient(yellow,transparent 99%);
     width: 400px;
     aspect-ratio: 2 / 1;
     border-radius: 500px 500px 0 0;
    }
    .textalign {
    visibility: hidden; 
    }
.textalign:nth-of-type(5)
{
  visibility: visible;
}
}
 /* Mobile */
@media(max-width:350px){
  .services{
    transform-origin: center;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1 / 1;
  }
  .container>.mockup:nth-of-type(5) {
    animation: animprod 5.5s ease-in-out  infinite alternate;
     background: linear-gradient(yellow,transparent 99%);
     width: 300px;
     aspect-ratio: 2 / 1;
     border-radius: 500px 500px 0 0;
    }
    
    .textalign {
      visibility: hidden; 
      }
  .textalign:nth-of-type(5)
  {
    visibility: visible;
    text-align: center;
    overflow-wrap: break-word;
     font-weight: 800;   
     position: relative;
     top:40%   
  }

}