/* main data css*/
.container { 
  height: 100vh;
  display: flex;
  flex-direction: column;
   align-items: center;
   justify-content: space-around;

/* background-image: url(kirakira_LOGO_BIGGER\ \(1\).png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   background-blend-mode: 10%; */
   background: center no-repeat  url(kirakira_LOGO_BIGGER\ \(1\).png);
   background-size: contain;
  }

/*logo*/
.logo{
clip-path: circle(50%);
opacity: 25%;
}

/*logo end*/

/* mock up image behavior */

.mockup{
  transition: 0.1s ease-in-out;
  animation: animprod 3s ease-in-out  infinite alternate;
} 
.mockup:hover{
 box-shadow: 0px 0px 200px  rgb(223, 220, 220);
 }
.services{
  transform-origin: center;
  /* left: 48%;
  position:absolute; */
  border-radius: 50%;
  width: 100px;
  aspect-ratio: 1 / 1;
}

.container>.mockup:nth-of-type(1) {
    animation: animprod 4.5s ease-in-out  infinite alternate-reverse;

    background: linear-gradient(45deg, rgb(255, 238, 0) , rgb(212, 61, 2)50%);
   }
.container>.mockup:nth-of-type(2) {

 animation: animprod 3s ease-in-out  infinite alternate;
 background:linear-gradient(45deg, rgb(130, 204, 238), indigo);
}
.container>.mockup:nth-of-type(3) {

 animation: animprod 4s ease-in-out  infinite alternate;
 background :linear-gradient(45deg, rgb(3, 0, 202), rgb(0, 159, 180));
}
.container>.mockup:nth-of-type(4) {

 animation: animprod 3.5s ease-in-out  infinite alternate;
 background: linear-gradient(45deg, red, blue);
}
.container>.mockup:nth-of-type(5) {
animation: animprod 5.5s ease-in-out  infinite alternate;
 background: linear-gradient(yellow,transparent 99%);
 width: 500px;
 aspect-ratio: 2 / 1;
 border-radius: 500px 500px 0 0;
}
@keyframes animprod{
  from{ 
    transform: translateY(-5px);
   }
  to{
    transform: translateY(+10px);
     }
}
.textalign {
  text-align: center;
  overflow-wrap: break-word;
   font-weight: 800;   
   position: relative;
   top:40%   
}

/*mock up image behavior*/