html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee&family=Bungee+Shade&family=Creepster&family=Monoton&display=swap');

a{
  text-decoration: none;
}
body{
  background-color: rgb(28, 27, 29);
  height: 100%;
}


/* nav bar flex */

.flex{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }
    
    .flex_div{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    
    .navbar{
    background-color: rgb(28, 27, 29);
    width: 100%;
    }
    
  .navbar img{
    width: 8%;
    margin: 1%;
  }
    
    .navbar div{
    width: 50%;
    }
    
    .navbar div a{
      text-decoration: none;
       font-family:'Bungee', cursive;
      color: white;
    }
    
    /* nav bar flex end */

    /* flex footer */
    .flex_footer{
      display: flex;
      align-items: row;
      justify-content: flex-end;
      align-items:flex-end;
    }
    footer{
      background-color: rgb(28, 27, 29);
     }

  footer nav{
    all:inherit;
  }
  footer p {
    color: white;
  }

  footer a {
    color: white;
  }
/* footer flex */

/* main data css*/

  main{
    height:100%;
    background-color: black;
  }

   main>section:nth-of-type(n){
    height: 700px;
    display: flex;
    flex-direction: row-reverse;
   }
   main>section:nth-of-type(2n+1){
    height: 700px;
    display: flex;
    flex-direction: row;
   }

/* section 1 css */
main>section>div{
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 2%;
}



.DigiMark{
background-color: yellow;
width: calc(100%/3);
height: 50%;
transition: all;
transition-duration: 1s;
transition-timing-function:cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.DigiMark:hover {
filter: drop-shadow(0 0 0.75rem rgb(255, 187, 0));
}


.DigiMark:nth-of-type(1)
{
  background-color:black;
}

.DigiMark:nth-of-type(2)
{
  background-color:black;
}

.DigiMark:nth-of-type(4)
{
  background-color:rgb(85, 85, 85) ;
}

main>img{
  position: fixed;
  width: 50px;
  height: 50px;
  top: 150px;
  left: 100px;
}